$card-width: 120px;
$card-height: 160px;

$action-color-light: #ee7777;
$action-color-mid: #bb2121;
$action-color-dark: #702020;
$action-color-text: #d00000;

$condition-color-light: #85ce85;
$condition-color-mid: #2e863c;
$condition-color-dark: #006010;
$condition-color-text: #239023;

$player-color-light: #5577f1;
$player-color-mid: #1841bb;
$player-color-dark: #102060;
$player-color-text: #0000ff;

$mini-card-list-height: 88px;

.mini-card-list {
	margin: 2px;
}

.mini-card {
	display: inline-block;
	cursor: zoom-in;
	box-sizing: border-box;
	width: 60px;
	height: 80px;
	border-radius: 4px;
	border: solid 1px black;
	margin: 2px;
	padding-top: 8px;
	vertical-align: middle;
	overflow: hidden;
	
	&.-action {
		background: linear-gradient(
			$action-color-light,
			$action-color-mid 7px,
			#f2f2f2 7px,
			#f2f2f2);
	}
	
	&.-condition {
		background: linear-gradient(
			$condition-color-light,
			$condition-color-mid 7px,
			#f2f2f2 7px,
			#f2f2f2);
	}
	
	&.-player {
		background: linear-gradient(
			$player-color-light,
			$player-color-mid 7px,
			#f2f2f2 7px,
			#f2f2f2);
	}
}

.card-container {
	box-sizing: border-box;
	min-width: 0;
	width: $card-width + 10px;
	height: $card-height;
	padding-left: 5px;

	flex-shrink: 1;
	&:last-child {
		flex-shrink: 0;
	}
}

.card-shape {
	border-radius: 10px;
	box-sizing: border-box;
	width: $card-width;
	height: $card-height;
}

.card {
	@extend .card-shape;
	cursor: pointer;
	position: relative;
	&.-hover .card-content {
		background-color: #e6ffff;
		border-color: #002966;
		box-shadow: 0 0 14px 0 #003399;
		transform: scale(1.1);
		z-index: 1;
	}
	&.-action .card-header {
		background: linear-gradient($action-color-light, $action-color-mid);
	}
	&.-condition .card-header {
		background: linear-gradient($condition-color-light, $condition-color-mid);
	}
	&.-player .card-header {
		background: linear-gradient($player-color-light, $player-color-mid);
	}
	&.-static {
		cursor: default;
	}
	&.-zoom {
		pointer-events: none;
		transform: translate(-50%, 45px);
		animation: zoom 0.2s;
		& .card-content {
			box-shadow: none;
		}
	}
	&.-fade-out {
		opacity: 0.0;
		animation: fade-out 0.2s;
	}
}

@keyframes zoom {
	0% {
		opacity: 0.0;
		transform: translate(-50%, -50%) scale(0.5);
	}
	100% { 
		opacity: 1.0;
		transform: translate(-50%, 45px) scale(1.0);
	}
}

@keyframes fade-out {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

.card-content {
	@extend .fill-parent;
	pointer-events: none;
	border-radius: 10px;
	border: solid 2px black;
	background-color: white;
	box-shadow: 0 0 14px 0 #101010;
	transition: transform 0.05s;
}

.card-header {
	position: relative;
	height: 20px;
	border-radius: 8px 8px 0 0;
	background: linear-gradient(#ff9999, #ff6666);
	border-bottom: solid 1px black;
	box-shadow: 0 0 4px 0 #101010;
	color: white;
	font-size: 16px;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
	padding: 1px 4px 1px 4px;
}

.card-type {
	position: absolute;
	bottom: 1px;
}

.card-text {
	padding: 2px 3px;
	font-size: 13px;
	text-align: center;
	
	&.-mini {
		font-size: 7px;
	}
	
	& .-slot {
		font-weight: bold;
	}
	
	& .-action {
		@extend .-slot;
		color: $action-color-text;
	}
	
	& .-condition {
		@extend .-slot;
		color: $condition-color-text;
	}
	
	& .-player {
		@extend .-slot;
		color: $player-color-text;
	}
}

.card-parenthetical {
	padding: 4px 5px;
	font-size: 11px;
	text-align: center;
	font-style: italic;
}

.card-back {
	@extend .card-shape;
	border: solid 1px black;
	background-image: url("/static/images/cardback.png");
	background-size: $card-width $card-height;
	background-position: center;
	box-shadow: 0 0 6px 0 #101010;
	&.-fade-out {
		opacity: 0.0;
		animation: fade-out 0.2s;
	}
	& .counter {
		line-height: $card-height;
		font-size: 40px;
		text-align: center;
		text-shadow: 0 0 10px black, 0 0 5px black;
		color: #ddeeff;
		&.-pulse {
			animation: pulse 0.2s;
		}
	}
}


$card-hole-opacity: 0.5;

.card-hole {
	@extend .card-shape;
	border: solid 1px rgba(#404040, $card-hole-opacity);
	background-color: rgba(#efefef, $card-hole-opacity);
	box-shadow: 0 0 6px 0 rgba(#909090, $card-hole-opacity);
}

@mixin card-hole-special($light, $mid, $dark) {
	border: solid 1px rgba($dark, $card-hole-opacity);
	background: repeating-linear-gradient(
		45deg, 
		rgba($light, $card-hole-opacity),
		rgba($light, $card-hole-opacity) 4px,
		rgba($mid, $card-hole-opacity) 4px,
		rgba($mid, $card-hole-opacity) 8px);
	box-shadow: 0 0 6px 0 rgba($dark, $card-hole-opacity);
}

@mixin card-hole-special-active($light, $mid, $dark) {
	border: solid 1px rgba($dark, $card-hole-opacity);
	background-color: rgba($mid, $card-hole-opacity);
	box-shadow: 0 0 6px 0 rgba($dark, $card-hole-opacity);
}

.card-hole-action {
	@extend .card-shape;
	@include card-hole-special(
		$action-color-light,
		$action-color-mid,
		$action-color-dark);
}

.card-hole-action-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$action-color-light,
		$action-color-mid,
		$action-color-dark);
}

.card-hole-condition {
	@extend .card-shape;
	@include card-hole-special(
		$condition-color-light,
		$condition-color-mid,
		$condition-color-dark);
}

.card-hole-condition-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$condition-color-light,
		$condition-color-mid,
		$condition-color-dark);
}

.card-hole-player {
	@extend .card-shape;
	@include card-hole-special(
		$player-color-light,
		$player-color-mid,
		$player-color-dark);
}

.card-hole-player-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$player-color-light,
		$player-color-mid,
		$player-color-dark);
}