$font-family: "Verdana", sans-serif;
$curve-section: 10px;
$curve-inset: 6px;
$curve-entry: 4px;
$font-size-small: 14px;
$font-size-medium: 17px;
$font-size-big: 20px;
$playarea-margin: 20px;

body {
	user-select: none;
	cursor: default;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("/static/images/background.png");
	background-position: center top;
	font-family: $font-family;
}

.fill-parent {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

@mixin button-color($light, $mid) {
	background: linear-gradient(
		$light,
		mix($light, $mid, 60%) 49%,
		mix($light, $mid, 40%) 51%,
		$mid);
	text-shadow: 0 0 4px mix($light, $mid, 50%);
	color: darken($mid, 40%);
	border-color: darken($mid, 40%);
	box-shadow: inset 0 0 3px rgba(#ffffff, 0.4);
	
	&:hover:not(.-disabled) {
		box-shadow: inset 0 0 8px 0 darken($mid, 40%);
	}
	
	&:active {
		background: $mid;
	}
	
	&.-disabled {
		color: #333333;
		background: desaturate($mid, 30%);
		border-color: #444444;
	}
}

.button {
	cursor: pointer;
	border: solid 1px;
	text-align: center;
	
	&.-green {
		@include button-color(#85ce85, #2e863c);
	}
	
	&.-yellow {
		@include button-color(#dbd872, #a07129);
	}
	
	&.-red {
		@include button-color(#ce8585, #862e3c);
	}
	
	&.-white {
		@include button-color(#dddddd, #666666);
	}
	
	&.-medium {
		font-size: $font-size-medium;
		border-radius: $curve-entry;
		padding: 5px;
		min-width: 50px;
	}
	
	&.-disabled {
		cursor: default;	
	}
}

.icon {
	background-position: center;
	text-align: center;
	text-shadow: 0 0 10px black, 0 0 5px black;
	
	&.-big {
		margin: 4px;
		width: 80px;
		height: 80px;
		line-height: 80px;
		background-size: 80px 80px;
		font-size: 40px;
	}
	
	&.-small {
		margin: 3px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		background-size: 60px 60px;
		font-size: 30px;
	}
	
	&.-mini {
		display: inline-block;
		margin: -1px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		background-size: 20px 20px;
		font-size: 14px;
		text-shadow: 0 0 2px black;
	}
	
	&.-coins {
		background-image: url("/static/images/coin.png");
		color: #eeeebb;
	}
	
	&.-cards {
		background-image: url("/static/images/cards.png");
		color: #ddeeff;
	}
	
	&.-pulse {
		animation: pulse 0.2s;
	}
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

.log-entry {
	display: inline-block;
	float: left;
	clear: left;
	
	padding: 4px 8px;
	margin: 2px;
	font-size: $font-size-small;
	
	border-radius: $curve-entry;
	
	background: rgba(#eeeeee, 0.6);
	
	&.-chat {
		background: rgba(#c7ffbd, 0.6);
	}
	
	&.-victory {
		background: rgba(#ffe772, 0.7);
		text-shadow: 0 0 5px #ffee99;
	}
	
	& > .-user {
		color: #1841e4;
		font-weight: bold;
	}
	
	& > .-positive {
		color: #006010;
	}
	
	& > .-negative {
		color: #702020;
	}
	
	& > hr {
		border: none;
		height: 1px;
		background: rgba(#222222, 0.5);
	}
}

#input-chat-container {
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#input-chat-box-container {
	flex-grow: 1;
	min-height: 30px;
}

#input-chat-box {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
	
	font-family: $font-family;
	font-size: $font-size-small;
	padding-left: 10px;
	padding-right: 10px;
	
	background-color: #444444;
	color: #e0e0e0;
	border: none;
	outline: none;
	box-shadow: inset 0 0 2px #000000;
}

#input-chat-button {
	@extend .button;
	@include button-color(#c49754, #aa6633);

	width: 60px;
	
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
	
	border-top: solid 1px #222222;
}

$section-inner-outset-shadow: 0 0 5px rgba(#ffffff, 0.3);
$section-inner-inset-shadow: inset 0 0 5px #000000;

.section-inner {
	border: solid 1px black;
	box-shadow: $section-inner-outset-shadow, $section-inner-inset-shadow;
}

.section-log-shadow {
	@extend .fill-parent;
	pointer-events: none;
	border-radius: $curve-inset;
	border: solid 1px #222222;
	box-shadow: $section-inner-inset-shadow;
}

.section-back {
	border-radius: $curve-section;
	border: solid 1px rgba(#000000, 0.4);
	background: linear-gradient(rgba(#25282d,0.4), rgba(#111111,0.4));
	box-shadow: 0 0 16px 0 rgba(#000000, 0.4), inset 0 0 8px rgba(#ffffff, 0.15);
}

.section-back-left {
	@extend .fill-parent;
	@extend .section-back;
	border-radius: 0 $curve-section $curve-section 0;
}

.section-back-right {
	@extend .fill-parent;
	@extend .section-back;
	border-radius: $curve-section 0 0 $curve-section;
}