@use 'sass:math';
@import 'common';
@import 'card';

$deck-padding: 12px;
$playarea-sidebar-width: $card-width + 2 * $deck-padding;

#section-playarea {
	@extend .section-back;
	position: absolute;
	left: 120px;
	right: 120px;
	top: 10px;
	bottom: 230px;

	display: flex;
	flex-direction: row;
	padding: math.div($playarea-margin, 2);
}

#section-playarea-sidebar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: math.div($playarea-margin, 2);
}

#section-playarea-main {
	flex-grow: 1;
	margin: math.div($playarea-margin, 2);
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: $curve-inset;
	box-shadow: $section-inner-outset-shadow;
	overflow: hidden;
}

#section-playarea-content {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	min-height: 0;
}

#section-constitution {
	flex: 1;
	overflow-x: auto;
	overflow-y: auto;
	background: rgba(#eeeeee, 0.5);
	
	padding-top: 10px;
	text-align: center;
	font-style: italic;
}

#section-constitution-list {
	display: flex;
	flex-direction: column;
	padding: 8px;
}

#section-log {
	flex: 1;
	padding: 8px;
	padding-left: 12px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: rgba(#dcdcdc, 0.3);
}

#section-input {
	position: relative;
	flex-shrink: 0;
	transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	height: 0;
	overflow: hidden;
	border-top: solid 1px black;
	border-radius: 0 0 $curve-inset $curve-inset;
	box-shadow: 0 0 5px 0 #101010;
	background: #565656;
}

#section-input > *:not(:first-child) {
	display: none !important;
}

#section-player-self {
	@extend .section-back;
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 10px;
	height: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#section-player-self-hand {
	width: 0;
	padding: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#section-player-self-divider {
	width: 0;
	height: 100px;
	border-left: solid 1px black;
	border-right: solid 2px #1e3216;
	opacity: 0.9;
}

#section-player-self-info {
	flex-shrink: 0;
	padding-right: 6px;
	width: 100px;
}

#players-left {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	left: 0;
	width: 70px;
	top: 10px;
	bottom: 230px;
}

#players-right {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	right: 0;
	width: 70px;
	top: 10px;
	bottom: 230px;
}

.player-info-self {
	margin: auto;
	width: 80px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.player-name {
	position: absolute;
	top: -16px;
	height: 14px;
	padding-left: 8px;
	
	font-size: 12px;
	color: #eeeeee;
}

.player-info {
	@extend .fill-parent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

$input-chat-height: 30px;
$input-chat-selector-width: 100px;
$input-chat-button-width: 60px;

#input-options {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	a { margin: 5px; }
}

#input-payment {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	a { margin: 5px; }
}

#input-payment-slider {
	position: relative;
	display: flex;
	width: 60%;
	margin: 5px 30px;
	min-height: 60px;
}

#input-payment-buttons {
	display: flex;
	flex-direction: row;
}

#input-payment-slider-bar {
	flex: 1;
	height: 2px;
	margin-top: auto;
	margin-bottom: auto;
	
	border-radius: 2px;
	background: #444444;
	border: solid 1px #111111;
}

#input-payment-slider-handle {
	position: absolute;
	top: 50%;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin: -25px;
	text-align: center;
	
	background-position: center;
	background-size: 50px 50px;
	background-image: url("/static/images/coin.png");
	
	color: #eeeebb;
	font-size: 20px;
	text-shadow: 0 0 4px black;
	
	cursor: pointer;
	transition: transform 0.05s;
	
	&:hover {
		transform: scale(1.1);
	}
}

#input-expression, #input-cards {
	display: flex;
}

#input-expression-list, #input-cards-list {
	flex-grow: 1;
	width: 0;
	height: $card-height;
	margin: 2px;
	padding: 6px;
	border-spacing: 10px;
	
	background-color: #6d6d6d;
	border-radius: 8px;
	box-shadow: inset 0 0 2px #000000;
	display: flex;
	flex-direction: row;
}

#input-expression-list {
	justify-content: flex-start;
}

#input-cards-list {
	justify-content: center;
}

#input-expression-buttons, #input-cards-buttons {
	display: flex;
	flex-direction: column;
	padding: 6px;
	margin-right: 6px;
	width: 80px;
	a { margin-bottom: 5px; }
}

#input-chat-selector-container {
	width: 100px;
}

#input-chat-selector {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
	
	font-family: $font-family;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 4px;
	color: #e0e0e0;
	
	outline: none;
	background-color: #222222;
	border: none;
}

#deck-play {
	position: absolute;
	top: calc(50% - #{math.div($card-height, 2)});
	left: calc(50% - #{math.div($card-width, 2)});
	width: $card-width;
	height: $card-height;
	z-index: -1;
	pointer-events: none;

	& > .container {
		@extend .fill-parent;
	}
}

.section-player-left {
	@extend .section-back-left;
	position: relative;
	width: 100%;
	height: 140px;
}

.section-player-right {
	@extend .section-back-right;
	position: relative;
	width: 100%;
	height: 140px;
}

.constitution-entry-container {
	margin-bottom: 6px;
	display: flex;
	flex-direction: row;

	& > .number {
		flex-shrink: 0;
		margin-right: 10px;
		box-sizing: border-box;
		width: 40px;

		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: $font-size-big;
	}

	&:not(:first-child) > .number {
		border-top: solid 2px rgba(black, 0.5);
	}
}

.constitution-entry {
	box-sizing: border-box;
	border-radius: 6px;
	background: rgba(#111111, 0.3);
	font-style: normal;

	&.-active {
		background: #f7ce5e;
	}

	&.-proposal {
		background: #82e8a1;
	}
	
	&.-insert-point {
		cursor: pointer;
		height: $mini-card-list-height;
		width: 200px;
		background: #7fabc8;
		box-shadow: inset 0 0 3px rgba(#ffffff, 0.8);
		border: solid 1px #222222;
		font-size: 12px;
		padding-top: math.div($mini-card-list-height, 2) - 10px;
		color: white;
		text-shadow: 0 0 2px black, 0 0 2px black;
		text-align: center;
		&.-hover {
			background: #7bb5dc;
			box-shadow: 0 0 6px 0 rgba(#61a0a5, 0.5);
		}
	}
	
	&.-hole {
		height: $mini-card-list-height;
		width: 200px;
		background: rgba(white, 0.5);
		border: solid 1px #404040;
		background-color: rgba(#efefef, 0.5);
	}
}

.deck {
	position: relative;
	box-sizing: border-box;
	width: $playarea-sidebar-width;
	height: $card-height + 2 * $deck-padding;

	&.-normal {
		margin-bottom: 20px;
		border-radius: 10px;
		border: solid 1px #111111;
		background: rgba(#777777,0.4);
		box-shadow: inset 0 0 5px black, $section-inner-outset-shadow;
	}

	& > .container {
		@extend .fill-parent;
		padding: $deck-padding;
	}
}