@import 'common';

#section-lobby {
	@extend .section-back;
	position: absolute;
	display: flex;
	flex-direction: row;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 800px;
	height: 600px;
}

#section-lobby-content {
	@extend .fill-parent;
	display: flex;
	flex-direction: row;
	padding: $playarea-margin / 2;
}

#section-action-bar {
	min-width: 200px;
	display: flex;
	flex-direction: column;
	margin: $playarea-margin / 2;
}

$user-entry-margin: 6px;

#section-player-list {
	@extend .section-inner;
	position: relative;
	min-height: 160px;
	background: #767676;
	margin-bottom: 10px;
	border-radius: $curve-inset;
	padding: $user-entry-margin;
	border-spacing: 4px;
}

#section-observer-list {
	@extend #section-player-list;
}

#section-chat {
	flex-grow: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: $playarea-margin / 2;
	border-radius: $curve-inset;
	box-shadow: $section-inner-outset-shadow;
	overflow: hidden;
}

#section-chat-log {
	flex-grow: 1;
	padding: 8px;
	padding-left: 12px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #5f6d5b;
}

.user-entry {
	position: absolute;
	right: $user-entry-margin;
	box-sizing: border-box;
	font-size: $font-size-small;

	border-radius: $curve-entry;
	border: solid 1px #222222;
	background: #a2a2a2;
	box-shadow: inset 0 0 3px rgba(#ffffff, 0.8);
	padding: 4px 8px;

	display: flex;
	flex-direction: row;
	color: white;
	text-shadow: 0 0 2px black, 0 0 2px black;

	&.-player {
		background: #7fabc8;
	}

	&.-host {
		background: #d2c799;
	}

	&.-animated {
		cursor: pointer;
		&.-hover {
			background: #b0b0b0;
			&.-player {
				background: #7bb5dc;
			}
			&.-host {
				background: #ddca7c;
			}
		}
	}

	&.-hole {
		background: rgba(#cecece, 0.5);
		box-shadow: none;
	}

	& > .name {
		flex-grow: 1;
	}

	& > .status {
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-size: 36px 18px;
		&.-ready {
			background-image: url("/static/images/status.png");
			background-position: 0 0;
		}
		&.-notready {
			background-image: url("/static/images/status.png");
			background-position: -18px 0;
		}
	}
}