$font-family: "Trebuchet MS", Helvetica, sans-serif;

$card-width: 120px;
$card-height: 160px;

body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("images/background.png");
	background-position: center top;
	font-family: $font-family;
}

.fill-parent {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

@mixin button-style($light,$mid,$dark) {
	user-select: none;
	cursor: pointer;
	font-size: 18px;
	color: $dark;
	background: linear-gradient($light, $mid);
	text-shadow: 0 0 5px $light;
	
	&:hover {
		box-shadow: inset 0 0 8px 0 $dark;
	}
	
	&:active {
		background: $mid;
	}
}

@mixin button($light,$mid,$dark) {
	@include button-style($light, $mid, $dark);
	border: solid 1px $dark;
	border-radius: 6px;
	text-align: center;
	padding: 5px;
}

$curve-section: 20px;
$curve-log: 10px;

#section-playarea {
	position: absolute;
	left: 120px;
	right: 120px;
	top: 10px;
	bottom: 230px;
}

#section-playerarea-right {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 200px;
	top: 20px;
	right: 20px;
	bottom: 20px;
}

#section-log {
	position: relative;
	flex-grow: 1;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: $curve-log $curve-log 0 0;
	background: rgba(#dcdcdc, 0.4);
}

#section-input {
	position: relative;
	flex-shrink: 0;
	z-index: 1;
	overflow: hidden;
	border-top: solid 1px black;
	border-radius: 0 0 $curve-log $curve-log;
	box-shadow: 0 0 5px 0 #101010;
	background: #565656;
}

$input-expression-area-margin: 2px;
$input-expression-area-padding: 6px;
$input-expression-button-width: 80px;
$input-expression-button-padding: 6px;

#input-expression {
	position: relative;
	height: $card-height +
		2 * $input-expression-area-padding +
		2 * $input-expression-area-margin;
}

#input-expression-cards {
	position: absolute;
	top: $input-expression-area-margin;
	bottom: $input-expression-area-margin;
	left: $input-expression-area-margin;
	right: $input-expression-button-width +
		2 * $input-expression-button-padding;
	height: $card-height;
	padding: $input-expression-area-padding;
	border-spacing: 10px;
	
	background-color: #6d6d6d;
	border-radius: 8px;
	box-shadow: inset 0 0 2px #000000;
}

#input-expression-buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: $input-expression-button-padding;
	top: 0;
	right: 0;
	bottom: 0;
	width: $input-expression-button-width;
	a {
		margin-bottom: 5px;
	}
}

#section-player-self {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 10px;
	height: 200px;
}

#section-player-self-hand {
	@extend .fill-parent;
	padding: 20px;
	border-spacing: 20px;
}

#players-left {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	left: 0;
	width: 100px;
	top: 10px;
	bottom: 230px;
}

#players-right {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	right: 0;
	width: 100px;
	top: 10px;
	bottom: 230px;
}


$input-chat-height: 30px;
$input-chat-selector-width: 100px;
$input-chat-button-width: 60px;

#input-chat {
	position: relative;
	height: $input-chat-height;
}

#input-chat-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: $input-chat-selector-width;
	right: $input-chat-button-width;
}

#input-chat-selector {
	box-sizing: border-box;
	width: $input-chat-selector-width;
	height: 100%;
	border-radius: 0 0 0 $curve-log;
	
	font-family: $font-family;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 4px;
	color: #e0e0e0;
	
	outline: none;
	background-color: #222222;
	border: none;
}

#input-chat-box {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
	
	font-family: $font-family;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	
	background-color: #444444;
	color: #e0e0e0;
	border: none;
	outline: none;
	box-shadow: inset 0 0 2px #000000;
}

#input-chat-button {
	@include button-style(#c49754, #aa6633, #551111);
	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: $input-chat-button-width;
	
	text-align: center;
	vertical-align: middle;
	line-height: $input-chat-height - 4px;
	
	border-top: solid 1px #222222;
	border-radius: 0 0 $curve-log 0;
}

.button-green {
	@include button(#85ce85, #2e863c, #005010);
}

.button-yellow {
	@include button(#dbd872, #a07129, #553300);
}

.section-log-shadow {
	@extend .fill-parent;
	z-index: 2;
	pointer-events: none;
	border-radius: $curve-log;
	border: solid 1px black;
	box-shadow: inset 0 0 5px #000000;
}

.section-player-left {
	position: relative;
	width: 100px;
	height: 140px;
}

.section-player-right {
	position: relative;
	width: 100px;
	height: 140px;
}

.section-back {
	@extend .fill-parent;
	background: linear-gradient(#25282d, #000000);
	border-radius: 20px;
	border: solid 1px black;
	box-shadow: 0 0 10px 0 black;
	opacity: 0.4;
}

.section-back-left {
	@extend .fill-parent;
	@extend .section-back;
	border-radius: 0 20px 20px 0;
}

.section-back-right {
	@extend .fill-parent;
	@extend .section-back;
	border-radius: 20px 0 0 20px;
}

$action-color-light: #ff6666;
$action-color-mid: #dc3131;
$action-color-dark: #702020;

$condition-color-light: #5cc56d;
$condition-color-mid: #20a135;
$condition-color-dark: #006010;

$player-color-light: #506af1;
$player-color-mid: #1841e4;
$player-color-dark: #102060;

.log-entry {
	display: inline-block;
	float: left;
	clear: left;
	
	padding: 8px;
	margin: 2px;
	font-size: 14px;
	
	border-radius: 6px;
	border: solid 1px black;
	
	background: linear-gradient(rgba(#ffffff, 0.9) 0%, rgba(#ffffff, 0.7) 8%, rgba(#ffffff, 0.5) 100%);
}

.log-entry-player {
	color: $player-color-mid;
	font-weight: bold;
}

.mini-card {
	display: inline-block;
	width: 12px;
	height: 16px;
	border-radius: 2px;
	border: solid 1px black;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
}

.mini-card-action {
	@extend .mini-card;
	background: linear-gradient(
		$action-color-mid,
		$action-color-mid 4px,
		white 5px,
		white);
}

.mini-card-condition {
	@extend .mini-card;
	background: linear-gradient(
		$condition-color-mid,
		$condition-color-mid 4px,
		white 5px,
		white);
}

.mini-card-player {
	@extend .mini-card;
	background: linear-gradient(
		$player-color-mid,
		$player-color-mid 4px,
		white 5px,
		white);
}

.card-shape {
	border-radius: 10px;
	width: $card-width;
	height: $card-height;
	z-index: 5;
}

.card {
	@extend .card-shape;
	user-select: none;
	cursor: pointer;
	border: solid 2px black;
	background-color: white;
	box-shadow: 0 0 14px 0 #101010;
	transition: transform 0.05s;
}

$card-hole-opacity: 0.5;

.card-hole {
	@extend .card-shape;
	border: solid 1px #404040;
	background-color: #efefef;
	box-shadow: 0 0 6px 0 #909090;
	opacity: $card-hole-opacity;
}

@mixin card-hole-special($light, $mid, $dark) {
	border: solid 1px $dark;
	background: repeating-linear-gradient(
		45deg, $light, $light 4px, $mid 4px, $mid 8px);
	box-shadow: 0 0 6px 0 $dark;
	opacity: $card-hole-opacity;
}

@mixin card-hole-special-active($light, $mid, $dark) {
	border: solid 1px $dark;
	background-color: $mid;
	box-shadow: 0 0 6px 0 $dark;
	opacity: $card-hole-opacity;
}

.card-hole-action {
	@extend .card-shape;
	@include card-hole-special(
		$action-color-light,
		$action-color-mid,
		$action-color-dark);
}

.card-hole-action-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$action-color-light,
		$action-color-mid,
		$action-color-dark);
}

.card-hole-condition {
	@extend .card-shape;
	@include card-hole-special(
		$condition-color-light,
		$condition-color-mid,
		$condition-color-dark);
}

.card-hole-condition-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$condition-color-light,
		$condition-color-mid,
		$condition-color-dark);
}

.card-hole-player {
	@extend .card-shape;
	@include card-hole-special(
		$player-color-light,
		$player-color-mid,
		$player-color-dark);
}

.card-hole-player-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$player-color-light,
		$player-color-mid,
		$player-color-dark);
}

.card-hover {
	background-color: #e6ffff;
	border-color: #002966;
	box-shadow: 0 0 14px 0 #003399;
	z-index: 10;
	transform: scale(1.1);
}

.card-header {
	position: relative;
	height: 20px;
	border-radius: 8px 8px 0 0;
	background: linear-gradient(#ff9999, #ff6666);
	border-bottom: solid 1px black;
	box-shadow: 0 0 4px 0 #101010;
	color: white;
	font-size: 16px;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
	padding: 1px 4px 1px 4px;
}

.card-header-action {
	background: linear-gradient($action-color-light, $action-color-mid);
}

.card-header-condition {
	background: linear-gradient($condition-color-light, $condition-color-mid);
}

.card-header-player {
	background: linear-gradient($player-color-light, $player-color-mid);
}

.card-type {
	position: absolute;
	bottom: 1px;
}

.card-text {
	padding: 2px 3px;
	font-size: 13px;
	text-align: center;
}

.card-text-slot {
	font-weight: bold;
}

.card-text-action {
	@extend .card-text-slot;
	color: #d00000;
}

.card-text-player {
	@extend .card-text-slot;
	color: #0000ff;
}

.card-text-condition {
	@extend .card-text-slot;
	color: #239023;
}

.card-parenthetical {
	padding: 4px 5px;
	font-size: 11px;
	text-align: center;
	font-style: italic;
}