body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("images/background.png");
	background-position: center top;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.fill-parent {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

$curve-section: 20px;
$curve-log: 10px;

#section-playarea {
	position: absolute;
	left: 120px;
	right: 120px;
	top: 10px;
	bottom: 230px;
}

#section-playerarea-right {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 200px;
	top: 20px;
	right: 20px;
	bottom: 20px;
}

#section-log {
	position: relative;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: $curve-log $curve-log 0 0;
	background: white;
}

#section-input {
	position: relative;
	z-index: 1;
	height: 200px;
	padding: 20px;
	border-spacing: 20px;
	border-top: solid 1px black;
	border-radius: 0 0 $curve-log $curve-log;
	box-shadow: 0 0 10px 0 #101010;
	background: #565656;
}

#section-player-self {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 10px;
	height: 200px;
}

#section-player-self-hand {
	@extend .fill-parent;
	padding: 20px;
	border-spacing: 20px;
}

#players-left {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	left: 0;
	width: 100px;
	top: 10px;
	bottom: 230px;
}

#players-right {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	right: 0;
	width: 100px;
	top: 10px;
	bottom: 230px;
}

.section-log-entry {
	padding: 8px;
}

.section-log-entry:nth-child(odd) {
	background-color: #f0ffff;
}

.section-log-entry:nth-child(even) {
	background-color: #fffff0;
}

.section-log-shadow {
	@extend .fill-parent;
	z-index: 2;
	pointer-events: none;
	border-radius: $curve-log;
	border: solid 1px black;
	box-shadow: inset 0 0 10px #000000;
}

.section-player-left {
	position: relative;
	width: 100px;
	height: 140px;
}

.section-player-right {
	position: relative;
	width: 100px;
	height: 140px;
}

.section-back {
	@extend .fill-parent;
	background: linear-gradient(#25282d, #000000);
	border-radius: 20px;
	border: solid 2px black;
	box-shadow: 0 0 20px 0 black;
	opacity: 0.4;
}

.section-back-left {
	@extend .fill-parent;
	@extend .section-back;
	border-radius: 0 20px 20px 0;
}

.section-back-right {
	@extend .fill-parent;
	@extend .section-back;
	border-radius: 20px 0 0 20px;
}


$action-color-light: #ff6666;
$action-color-mid: #dc3131;
$action-color-dark: #702020;

$condition-color-light: #5cc56d;
$condition-color-mid: #20a135;
$condition-color-dark: #107010;

$player-color-light: #506af1;
$player-color-mid: #1841e4;
$player-color-dark: #102060;


.card-shape {
	border-radius: 10px;
	width: 120px;
	height: 160px;
	z-index: 5;
}

.card {
	@extend .card-shape;
	user-select: none;
	cursor: pointer;
	border: solid 2px black;
	background-color: white;
	box-shadow: 0 0 14px 0 #101010;
	transition: transform 0.05s;
}

.card-hole {
	@extend .card-shape;
	border: solid 2px #606060;
	background-color: #efefef;
	box-shadow: 0 0 14px 0 #909090;
	opacity: 0.4;
}

@mixin card-hole-special($light, $mid, $dark) {
	border: solid 2px $dark;
	background: repeating-linear-gradient(
		45deg, $light, $light 4px, $mid 4px, $mid 8px);
	box-shadow: 0 0 14px 0 $dark;
	opacity: 0.4;
}

@mixin card-hole-special-active($light, $mid, $dark) {
	border: solid 2px $dark;
	background-color: $mid;
	box-shadow: 0 0 14px 0 $dark;
	opacity: 0.4;
}

.card-hole-action {
	@extend .card-shape;
	@include card-hole-special(
		$action-color-light,
		$action-color-mid,
		$action-color-dark);
}

.card-hole-action-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$action-color-light,
		$action-color-mid,
		$action-color-dark);
}

.card-hole-condition {
	@extend .card-shape;
	@include card-hole-special(
		$condition-color-light,
		$condition-color-mid,
		$condition-color-dark);
}

.card-hole-condition-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$condition-color-light,
		$condition-color-mid,
		$condition-color-dark);
}

.card-hole-player {
	@extend .card-shape;
	@include card-hole-special(
		$player-color-light,
		$player-color-mid,
		$player-color-dark);
}

.card-hole-player-active {
	@extend .card-shape;
	@include card-hole-special-active(
		$player-color-light,
		$player-color-mid,
		$player-color-dark);
}

.card-hover {
	background-color: #e6ffff;
	border-color: #002966;
	box-shadow: 0 0 14px 0 #003399;
	z-index: 10;
	transform: scale(1.1);
}

.card-header {
	position: relative;
	height: 20px;
	border-radius: 8px 8px 0 0;
	background: linear-gradient(#ff9999, #ff6666);
	border-bottom: solid 1px black;
	box-shadow: 0 0 4px 0 #101010;
	color: white;
	font-size: 16px;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
	padding: 1px 4px 1px 4px;
}

.card-header-action {
	background: linear-gradient($action-color-light, $action-color-mid);
}

.card-header-condition {
	background: linear-gradient($condition-color-light, $condition-color-mid);
}

.card-header-player {
	background: linear-gradient($player-color-light, $player-color-mid);
}

.card-type {
	position: absolute;
	bottom: 1px;
}

.card-text {
	padding: 2px 3px;
	font-size: 13px;
	text-align: center;
}

.card-text-slot {
	font-weight: bold;
}

.card-text-action {
	@extend .card-text-slot;
	color: #d00000;
}

.card-text-player {
	@extend .card-text-slot;
	color: #0000ff;
}

.card-text-condition {
	@extend .card-text-slot;
	color: #239023;
}

.card-parenthetical {
	padding: 4px 5px;
	font-size: 11px;
	text-align: center;
	font-style: italic;
}